<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Boxes.Core" version="0.4.31" targetFramework="net45" />
  <package id="Boxes.Integration" version="0.4.24" targetFramework="net45" />
  <package id="Boxes.Windsor" version="0.4.25" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
</packages>